.tag {
    padding: 2px 10px;
    border-radius: 12px;
    background-color: rgba($deep-blue, .11);
    text-align: center;
    font-size: 14px;
}

.tag--vue {
    color: $jungle-green;
}

.link-text {
    background-image: linear-gradient(
        to bottom,
        currentColor 0,
        currentColor 100%
    );
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: 0 1.2em;
    display: inline;
    transition: background-size 0.35s ease-out;
}
.post-link:hover .link-text {
    background-size: 100% 3px;
}
