.page-content {
    width: 90%;
    max-width: $site-width;
    margin: auto;
    padding-bottom: 48px;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 48px;
    @media screen and ($mobile-break) {
        flex-direction: row;
    }
}

.nav-header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

.nav-header__menu-item {
    list-style: none;
    a {
        color: $deep-blue-light;
        text-decoration: none;
        padding: 0 10px;
    }
}
.nav-header__menu-item:hover a {
    color: $big-stone;
}

.nav-header__menu-item--active {
    a {
        color: $big-stone;
    }
}

.page__intro {
    padding: 32px 0;
    position: relative;

    h1 {
        text-align: left;
        margin-bottom: 18px;
    }

    img {
        position: absolute;
        top: -32px;
        left: -72px;
        z-index: -1;
    }
}

.page__title {
    font-family: $sans-font;
    font-size: 36px;
    font-weight: bold;
}

.post-link {
    text-decoration: none;
    color: $deep-blue;
    transition: all .4s ease;
    display: block;
    h2 {
        font-weight: bold;
        transition: color .3s ease;
    }
    &:hover {
        h2 {
            color: rgba($big-stone, .8);
        }
        color: $deep-blue-dark;
    }
    &:last-child .post-container {
        border-bottom: none;
    }
}

.post-list {
    margin-bottom: 3rem; 
}

.post-container {
    padding: 12px;
    margin: -12px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: rgba(0,0,0,.025);
    }
}

.post__title {
    font-family: $sans-font;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}

.post__excerpt p {
    margin-bottom: 0;
}

.post__date {
    font-size: 14px;
    color: rgba($deep-blue, .8);
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: .5rem;
    @media screen and ($mobile-break) {
        margin-top: 0;
    }
}

.project-container {
    display: flex;
    gap: 12px;

    img {
            width: 58px;
            height: 58px;
            border-radius: 4px;
            min-width: 58px;
            border: none;
            margin-top: 5px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 8px rgba(0, 0, 0, 0.14);
        }
}

.show-all-link {
    text-decoration: none;
    font-weight: bold;
}

.post-content {
    margin-bottom: 54px;
}

.inpost-pagination {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: outside none none;
    padding: 40px 0;
    border-top: 1px solid rgba($deep-blue, .5);
    @media screen and ($mobile-break) {
        flex-direction: row;
    }
    li {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        @media screen and ($mobile-break) {
            width: 50%;
        }
        span {
            font-size: 18px;
        }
    }
    a {
        font-family: $mono-font;
        text-decoration: none;
        color: $deep-blue-light;
        font-size: 14px;
        transition: color .3s ease;
        &:hover {
            color: $deep-blue-dark;
        }
    }
}
