/* Colors */
$desert-storm: #FCFCFA;
$desert-storm-dark: #F5F5F3;
$big-stone: #151D34;
$big-stone-light: #293147;
$big-stone-dark: #04070F;
$deep-blue: #434D6B;
$deep-blue-light: #525D80;
$deep-blue-dark: #272F47;
$buttercup: #F6B51D;
$buttercup-light: #FFC43B;
$buttercup-dark: #E8A915;
$rose-bud-cherry: #750D4A;
$rose-bud-cherry-light: #B02075;
$rose-bud-cherry-dark: #520E36;
$jungle-green: #20A284;
$jungle-green-light: #2BC29F;
$jungle-green-dark: #16755F;

$page-background: $desert-storm-dark;

/* Fonts */
$serif-font: 'Volkhov', serif;
$sans-font: 'IBM Plex Sans', sans-serif;
$mono-font: 'IBM Plex Mono', monospace;
$font-base: 18px;

/* Layout */
$site-width: 600px;
$mobile-break: 'min-width: 550px';
