* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $sans-font;
    font-size: $font-base;
    background-color: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
